body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.innerinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cowchecked {
  display: none;
}
.chickenchecked {
  display: none;
}
.checked {
  display: none;
}
.index {
  font-size: 30px;
  text-align: center;
}
